@model DoneThatMVC.Models.LoginVM
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-signin" action="@Url.Action("Login","Auth")">
    <img class="mb-4" src="~/www/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    @Html.LabelFor(i => i.Username, new { @class = "sr-only" })
    @Html.TextBoxFor(i => i.Username, new { @class = "form-control", placeholder = "Email address", autofocus = "autofocus", required = "required" })
    @Html.ValidationMessageFor(i => i.Username)
    @Html.LabelFor(i => i.Password, new { @class = "sr-only" })
    @Html.PasswordFor(i => i.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
    @Html.ValidationMessageFor(i => i.Password)
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" class="filled-in" checked="checked" name="RememberMe" value="true" />
            <span>Remember me</span>
            <input type="hidden" name="RememberMe" value="false" />
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>



